<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>axios</title>

</head>
<body>
<div id="app">
    <input type="text" v-model="cityname">
    <input type="button" value="POST" @click="postIfo">
    <div v-for="(item,index) in list" :key="index">
        {{ item.date }}{{ item.week }} 的天气为 {{ item.weather }}
    </div>
</div>
</body>
</html>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            appKey: "eb66156e0e28f824977638c208ad01f1",
            cityname: "",
            list: []
        },
        methods: {
            postIfo() {
                axios.get('http://v.juhe.cn/weather/index', {
                    params: {
                        cityname: this.cityname,
                        key: this.appKey
                    }
                })
                    .then(response => {
                        this.list = response.data.result.future
                        console.log(this.list)
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    })
</script>