<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>

<body>
<div id="app">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" v-fontweight="100">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input type="text" v-model="id" class="form-control">
            </label>
            <label>
                Name:
                <input type="text" v-model="name" class="form-control" @keyup.f2="add">
            </label>
            <input type="button" value="添加" class="btn btn-primary" @click="add()">
            <label>
                搜索关键词：
                <input type="text" v-model="keywords" class="form-control" v-focus v-color="'red'">
            </label>
        </div>
    </div>


    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in search(keywords)" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.ctime | dataFormat('') }}</td>
            <td><a href="" @click.prevent="del(item.id)">删除</a></td>
        </tr>
        </tbody>
    </table>

</div>

<div id="app2">
    <h2>{{ dt | dataFormat('') }}</h2>
</div>
</body>

</html>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script>
    //全局过滤器
    Vue.filter('dataFormat', function (dateStr, pattern = '') {
        let dt = new Date(dateStr)
        let y = dt.getFullYear()
        let m = (dt.getMonth() + 1).toString().padStart(2, '0')
        let d = dt.getDate().toString().padStart(2, '0')
        if (pattern.toLowerCase() === 'yyyy-mm-dd') {
            return `${y}-${m}-${d}`
        } else {
            let hh = dt.getHours().toString().padStart(2, '0')
            let mm = dt.getMinutes().toString().padStart(2, '0')
            let ss = dt.getSeconds().toString().padStart(2, '0')
            // return `${y}-${m < 10 ? ('0' + m) : m}-${d < 10 ? ('0' + d) : d}
            // ${hh < 10 ? ('0' + hh) : hh}:${mm < 10 ? ('0' + mm) : mm}:${ss < 10 ? ('0' + ss) : ss}`
            return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
        }
    })

    //自定义全局按键修饰符
    Vue.config.keyCodes.f2 = 113


    //Vue.directive()自定义全局指令，v-focus
    //v-指令名称进行调用，例如v-focus,进入页面直接聚焦输入框
    Vue.directive('focus', {
        bind(el) {//只调用一次，指令第一次绑定到元素时调用。在这里可以进行一次性的初始化设置。设置样式相关

        },
        inserted(el) {//被绑定元素插入父节点时调用 (仅保证父节点存在，但不一定已被插入文档中)。设置行为相关
            el.focus()
        },
        updated(el) {//所在组件的 VNode 更新时调用，但是可能发生在其子 VNode 更新之前。指令的值可能发生了改变，也可能没有。

        }
    })

    Vue.directive('color', {
        bind(el, binding) {//只调用一次，指令第一次绑定到元素时调用。在这里可以进行一次性的初始化设置。
            el.style.color = binding.value
        }
    })


    let vm = new Vue({
        el: "#app",
        data: {
            id: '',
            name: '',
            keywords: '',
            list: [
                {id: 1, name: '奔驰', ctime: new Date()},
                {id: 2, name: '宝马', ctime: new Date()}
            ]
        },
        methods: {
            add(id) {
                let index = this.list.some(item => {
                    return parseInt(this.id) == item.id
                })
                if (index) {
                    alert('ID已存在，请重新输入')
                    return false
                } else {
                    this.list.push({id: this.id, name: this.name, ctime: new Date()})
                    this.id = this.name = ''
                }

            },
            del(id) {
                let index = this.list.findIndex(item => {
                    if (item.id == id) {
                        return true
                    }
                })
                this.list.splice(index, 1)
            },
            search(keywords) {
                // let newList = []
                // this.list.forEach(item =>{
                //     if(item.name.indexOf(keywords) != -1){
                //         newList.push(item)
                //     }
                // })
                // return newList
                return this.list.filter(item => {
                    // 包含某个字符
                    if (item.name.includes(keywords)) {
                        return item
                    }
                })
            }
        },
        directives: {//自定义私有指令
            'fontweight': {
                bind(el, binding) {
                    el.style.fontWeight = binding.value
                }
            }

        }
    })


    //私有过滤器，两个过滤器名称相同，默认用私有过滤器
    let vm2 = new Vue({
        el: "#app2",
        data: {
            dt: new Date()
        },
        methods: {},
        filters: {
            dataFormat: function (dateStr, pattern = '') {
                let dt = new Date(dateStr)
                let y = dt.getFullYear()
                let m = dt.getMonth() + 1
                let d = dt.getDate()
                if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                    return `${y}-${m}-${d}`
                } else {
                    let hh = dt.getHours()
                    let mm = dt.getMinutes()
                    let ss = dt.getSeconds()
                    return `${y}-${m < 10 ? ('0' + m) : m}-${d < 10 ? ('0' + d) : d} 
            ${hh < 10 ? ('0' + hh) : hh}:${mm < 10 ? ('0' + mm) : mm}:${ss < 10 ? ('0' + ss) : ss}`
                }

            }
        }
    })
</script>