<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>router路由</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>
<style>
    .router-link-active{
        color: red;
    }
</style>
<body>
    <div id="app">
        <input type="text" v-model="firstName" @keyup="getFullName"> +
        <input type="text" v-model="lastName" @keyup="getFullName"> =
        <input type="text" v-model="fullName">
    </div>
</body>

</html>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            firstName: '',
            lastName: '',
            fullName: ''
        },
        methods: {
            getFullName() {
                this.fullName = this.firstName + '-' + this.lastName
            }
        }
    })
</script>